@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@mixin d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin d-none {
  @media (max-width: 991px) {
    display: none;
  }
}
::selection{
  background: #911f1f;
  color: #f0f0f0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #911f1f;
}
::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
body {
  font-family: "Roboto", sans-serif;
}

.material-icons-outlined,.material-icons{
  color: #911f1f;
}

.navbar {
  box-shadow: 0 0 20px #931f1f1a;
  position: fixed;
  width: 100%;
  height: 4rem;
  @media (max-width: 571px) {
    height: 6rem;
  }
  background-color: #fff;
  z-index: 9;
  i,
  img {
    cursor: pointer;
    font-weight: 200;
  }
  .container-fluid {
    @media (max-width: 571px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar-brand {
      @include d-flex();
      align-items: flex-end;
      i {
        margin-inline-end: 5px;
      }
      .img {
        position: relative;
        &::after {
          content: "EG";
          position: absolute;
          top: 0;
          right: -20px;
          width: 20px;
          height: 20px;
          font-size: 0.5rem;
          font-weight: 700;
        }
        img {
          width: 90px;
        }
      }
    }
    .med {
      @include d-flex();
      @media (max-width: 571px) {
        width: 100%;
      }
      input.form-control {
        border-radius: 50px 0 0 50px;
        height: 40px;
        box-shadow: none;
        outline: none;
        padding: 5px 20px;
        width: 540px;
        @media (max-width: 991px) {
          width: 350px;
        }
        @media (max-width: 767px) {
          width: 250px;
        }
        @media (max-width: 571px) {
          width: 100%;
        }
      }
      button {
        border-radius: 0 50px 50px 0;
        height: 40px;
        width: 64px;
        @include d-flex();
        background: #f8f8f8;
        border: 1px solid #d3d3d3;
        &:hover {
          background: #f0f0f0;
        }
      }
      .mic {
        @include d-flex();
        @include d-none();
        width: 40px;
        height: 40px;
        background: #f9f9f9;
        border-radius: 50%;
        margin-inline-start: 1rem;
        &:hover {
          background: #d3d3d3;
        }
      }
    }
    .end {
      @include d-none();
      @include d-flex();
      flex-direction: row;
      i {
        @include d-flex();
        flex-direction: row;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        &:hover {
          background: #f0f0f0;
        }
      }
    }
  }
}
#education {
  .mainsearchValue{
    color: #911f1f;
    text-decoration: underline;
    font-weight: 900;
  }
  #main {
    padding-top: 4rem;
    @media (max-width: 571px) {
      padding-top: 6rem;
    }
    .container-fluid {
      .row {
        .left {
          min-height: calc(100vh - 4rem);
          box-shadow: 0 0 20px #931f1f1a;
          // width: 5%;
          z-index: 1;
          padding-top: 1rem;
          position: relative;
          display: flex;
          justify-content: center;
          @include d-none();
          .all {
            position: fixed;
            .iconText {
              padding: 0.5rem 0;
              h6 {
                font-size: 0.6rem;
                @media (max-width: 1200px) {
                  display: none;
                }
              }
              &:hover {
                background-color: #f0f0f0;
              }
            }
          }
        }
        .right {
          height: 100%;
          padding-inline: 0;
          .channelBanner {
            height: calc(16.1290322581vw - 1px);
            background-size: cover;
            background-position: center;
            @media (max-width: 991px) {
              height: 30vw;
            }
          }
          .channelInfo {
            .card {
              padding: 2rem 1rem;
              border: none;
              .container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                .leftCard {
                  display: flex;
                  .img {
                    @include d-none();
                    width: 80px;
                    height: 80px;
                    img {
                      border-radius: 50%;
                      max-width: 100%;
                      height: 100%;
                      width: 100%;
                    }
                  }
                  .text {
                    text-align: start;
                    & > * {
                      margin-bottom: 0px;
                    }
                  }
                }
                .rightCard {
                  button {
                    border-radius: 50px;
                  }
                }
              }
            }
          }
          .links {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: 0;
              left: 0;
              background-color: #d3d3d3;
            }
            .swiper {
              padding: 1rem 0;
              .swiper-wrapper {
                display: flex;
                align-items: center;
                .swiper-slide {
                  color: #606060;
                  cursor: pointer;
                  user-select: none;
                  font-weight: 500;
                }
                .active {
                  position: relative;
                  color: #911f1f;

                  &::after {
                    content: "";
                    position: absolute;
                    background-color: #911f1f;
                    width: 80%;
                    height: 3px;
                    bottom: -19px;
                    left: 50%;
                    transform: translateX(-50%);
                  }
                }
              }
              .swiper-button-next,
              .swiper-button-prev {
                color: #606060;
                &::after {
                  font-size: 15px;
                }
              }
            }
          }
          .allPlatLists {
            .containerx {
              .row {
                .Btn {
                  span {
                    font-size: 1rem;
                    padding: 1.5rem 0rem;
                    margin: 0;
                    @include d-flex();
                    justify-content: flex-start;
                    text-decoration: none;
                    color: #000;
                    cursor: pointer;
                    width: fit-content;
                  }
                }
                .allCard {
                  padding: 1rem 0;
                  .card {
                    align-items: center;
                    padding: 0;
                    .imgX {
                      box-shadow: 0 0 10px #931f1f59;
                      border-radius: 10px;
                      height: 118px;
                      width: 230px;
                      @media (min-width: 1200px) {
                        width: 270px;
                      }
                      @media (min-width: 991px) and (max-width: 1200px) {
                        width: 250px;
                      }
                      overflow: hidden;
                      background-position: center;
                      background-size: cover;
                      position: relative;
                      &:hover .imgXAll {
                        opacity: 1;
                      }
                      .imgXAll {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        background-color: rgba(0, 0, 0, 0.7);
                        text-decoration: none;
                        @include d-flex();
                        p,
                        i {
                          color: #fff;
                          margin: 5px;
                        }
                      }
                      .imgXright {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        width: 40%;
                        background-color: rgba(0, 0, 0, 0.7);
                        @include d-flex();
                        flex-direction: column;
                        p,
                        i {
                          margin: 0;
                          color: #fff;
                        }
                      }

                      @media (min-width: 390px) and (max-width: 576px) {
                        width: 350px;
                        height: 190px;
                      }
                    }
                    .card-body {
                      width: 210px;
                      padding: 0.5rem 0;
                      @include d-flex();
                      flex-direction: column;
                      align-items: flex-start;
                      @media (min-width: 1200px) {
                        width: 270px;
                      }
                      @media (min-width: 991px) and (max-width: 1200px) {
                        width: 250px;
                      }
                      @media (min-width: 390px) and (max-width: 576px) {
                        width: 350px;
                      }
                      h5 {
                        text-align: left;
                        font-size: 15px;
                      }
                      p {
                      }
                      a {
                        text-align: left;
                        padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#Videos {
  #main {
    padding-top: 4rem;
    @media (max-width: 571px) {
      padding-top: 6rem;
    }
    .container-fluid {
      .row {
        #mainMenu {
          h3 {
          }
          ul {
            max-height: 40rem;
            border: 2px solid #d3d3d3;
            overflow: auto;
            li {
              display: flex;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;
              &:hover:not(.active) {
                background-color: #f0f0f0;
              }
              span {
                font-size: 0.8rem;
              }
              img {
                max-width: 80px;
              }
            }
            .active {
              background-color: #911f1f;
              border: 2px solid #fff;
            }
          }
        }
        #mainAccordion {
          .card-body {
            overflow: hidden;
            iframe {
              max-width: 100%;
              @media (max-width: 320px) {
                max-height: 10rem;
              }
              @media (max-width: 576px) and (min-width: 321px) {
                max-height: 12rem;
              }
              @media (max-width: 767px) and (min-width: 577px) {
                max-height: 20rem;
              }
              @media (max-width: 991px) and (min-width: 768px) {
                max-height: 22rem;
              }
              @media (max-width: 1200px) and (min-width: 992px) {
                max-height: 25rem;
              }
              @media (max-width: 1400px) and (min-width: 1201px) {
                max-height: 30rem;
              }
              @media (min-width: 1401px) {
                max-height: 35rem;
              }
            }
          }
        }
      }
    }
  }
}
